{% extends 'base.html' %}

{% block content %}
<nav class="navbar" style="background-color: #e2e5e7;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Muhammad Faris Umar Rahman</span>
      <a class="btn btn-outline-secondary" href="{% url 'wishlist:logout' %}" role="button">Logout</a>
    
    </div>
</nav>

<h5>Nama: </h5>
<p>{{nama}}</p>

<table class="table table-dark table-hover">
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
        <tr>
            <th>{{barang.nama_barang}}</th>
            <th>{{barang.harga_barang}}</th>
            <th>{{barang.deskripsi}}</th>
        </tr>
    {% endfor %}
</table>

<h5 style="text-align:center"> Sesi terakhir login: {{ last_login }}</h5>

<!-- <a href="{% url 'wishlist:logout' %}"><button style="text-align:center" >Logout</button></a> -->

{% endblock content %}